<section>
  <div class="flex justify-between items-center">
    <h1 appTypography="headline-sm">Columns</h1>
    @if (this.columnControl.dirty) {
      <div class="flex items-center gap-2">
        @if (columnControl.getError("isJson")) {
          <p appTypography="body-lg" color="text-error">
            Column is not valid json
          </p>
        }
      </div>
    }
  </div>
  <div class="json-form column-form flex justify-between">
    <div #columnsEditor></div>
  </div>
</section>

<section>
  <h1 appTypography="headline-sm">Result</h1>
  <sh-table
    [keyName]="'id'"
    [columns]="columns()"
    [data]="data().items"
    [maxHeight]="'64vh'"
    [headerSticky]="true"
    [isSelect]="tbSelect()"
    [isForm]="tbIsForm()"
    [defaultDisplayColumns]="defaultDisplayColumns"
    [z]="2"
  ></sh-table>
  <button mat-flat-button (click)="submit()" class="mt-2">Submit</button>
  <div class="form-values max-h-[40vh] mt-2 overflow-y-auto">
    <div #formValuesEditor></div>
  </div>
</section>
