<sh-entity-manager
  keyName="id"
  entityName="movie"
  [formFields]="moviesSrv.formFields"
  [putFormFields]="editFormField"
  [tbColumns]="moviesSrv.tbColumns"
  [findEntities]="moviesSrv.find.bind(moviesSrv)"
  [putEntity]="moviesSrv.update.bind(moviesSrv)"
  [deleteEntity]="moviesSrv.delete.bind(moviesSrv)"
  [postEntity]="moviesSrv.create.bind(moviesSrv)"
  [postFormConfig]="{ reqBody: 'form' }"
  [tbActions]="['edit', 'delete']"
  [tbExtraActions]="tbExtraActions"
  [tbSelect]="true"
  [tbPagination]="true"
  #entityRef
></sh-entity-manager>
