<div
  [ngClass]="[
    'panel flex justify-between items-center mb-4 sticky top-12 z-10 p-4 rounded-lg',
    'bg-[var(--mat-sys-background)]',
  ]"
>
  <div></div>

  <div class="flex items-center gap-2">
    <button mat-mini-fab extended (click)="openTeamDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<section class="overflow-y-auto shadow-[var(--mat-sys-level2)]" tabindex="0">
  <sh-table
    [isSelect]="true"
    [data]="dataSource"
    [columns]="tbColumns"
    (onScrollBottom)="scrollBottom()"
    [maxHeight]="'64vh'"
    [headerSticky]="true"
    [formGroup]="form"
  ></sh-table>
</section>
