<div
  class="table-cell"
  (click)="tableCellClick($event)"
  #trigger="cdkOverlayOrigin"
  cdkOverlayOrigin
>
  @switch (column.type) {
    @case ("text") {
      {{ cellValue }}
    }
    @case ("number") {
      {{ cellValue | shFormatNumber }}
    }
    @case ("date") {
      {{ cellValue | date: "dd/MM/yyyy, HH:mm:ss" }}
    }
    @case ("status") {
      <div
        *ngIf="cellValue && column.getConfig"
        class="table-cell-status flex items-center gap-2"
      >
        <mat-icon
          class="cell-status-icon md-30"
          [attr.color]="column.getConfig(cellValue).color"
          [ngStyle]="{ color: column.getConfig(cellValue).color }"
          >{{ column.getConfig(cellValue).iconName }}</mat-icon
        >
        <div class="cell-status-text">
          {{ column.getConfig(cellValue).label }}
        </div>
      </div>
    }
    @case ("time") {
      {{ cellValue | shFormatTime }}
    }
    @case ("select") {
      <mat-form-field
        *ngIf="cellValue"
        appearance="outline"
        class="table-cell-select no-subscript text sm"
        (click)="$event.stopPropagation()"
        style="font-size: 14px"
      >
        <mat-select
          [value]="cellValue"
          (selectionChange)="
            column.onChange && column.onChange($event.value, row, rowIndex)
          "
          [formControl]="getFormControl(rowIndex, column.name)"
          [disabled]="disabled"
        >
          <mat-option
            *ngFor="let option of column.options"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    }
    @case ("toggle") {
      <mat-slide-toggle
        class="table-cell-slide"
        color="primary"
        (click)="$event.stopPropagation()"
        [checked]="cellValue"
        [aria-label]="cellValue"
        (change)="
          column.onChange && column.onChange($event.checked, row, rowIndex)
        "
        class="size-sm"
        [formControl]="getFormControl(rowIndex, column.name)"
        [disabled]="disabled"
      ></mat-slide-toggle>
    }
    @case ("radio") {
      <mat-radio-group
        aria-label="Radio button"
        [value]="cellValue"
        [disabled]="disabled"
      >
        @for (opt of column.options; track $index) {
          <mat-radio-button [value]="opt.value">{{
            opt.label
          }}</mat-radio-button>
        }
      </mat-radio-group>

      <mat-radio-button
        class="table-cell-radio"
        (click)="$event.stopPropagation()"
        (change)="
          column.onChange && column.onChange($event.value, row, rowIndex)
        "
        [checked]="cellValue"
        aria-label="Radio row"
        [value]="cellValue"
        [formControl]="getFormControl(rowIndex, column.name)"
        *ngFor="let key of objectKeys(column.props)"
        [attr.[key]]="column.props && column.props[key]"
      ></mat-radio-button>
    }
    @case ("img") {
      <sh-image shImg imgClass="table-cell-img" [src]="cellValue" />
    }
    @case ("chips") {
      <mat-chip-listbox
        aria-label="Status List"
        class="status-list table-cell-statusList"
      >
        <mat-chip
          class="status-item chip-prefix outlined"
          *ngFor="let item of cellValue"
        >
          {{ item }}
        </mat-chip>
      </mat-chip-listbox>
    }
    @case ("actions") {
      @if (column.actionType === "menu") {
        <button mat-icon-button [matMenuTriggerFor]="menuBtn">
          <mat-icon>{{ column.iconName }}</mat-icon>
        </button>
        <mat-menu #menuBtn="matMenu">
          <button
            (click)="btnMenuItem.onClick(cellValue, row, rowIndex)"
            mat-menu-item
            *ngFor="let btnMenuItem of column.actions || []"
          >
            {{ btnMenuItem.label }}
          </button>
        </mat-menu>
      } @else {
        <div class="flex items-center gap-2">
          @for (item of column.actions || []; track item) {
            <button
              [matTooltip]="item.label"
              mat-icon-button
              (click)="item.onClick(cellValue, row, rowIndex)"
            >
              <mat-icon class="material-icons-outlined">{{
                item.icon
              }}</mat-icon>
            </button>
          }
        </div>
      }
    }
    @case ("custom") {
      <ng-container
        [ngTemplateOutlet]="getTemplate(column.name)"
        [ngTemplateOutletContext]="{
          control: getFormControl(rowIndex, column.name),
          value: cellValue,
          item: row,
          index: rowIndex,
        }"
      ></ng-container>
    }
    @default {
      <span>Unsupported Type</span>
    }
  }
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="openEditorPopover()"
  (detach)="openEditorPopover.set(false)"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'table-cell-popover-backdrop'"
  (backdropClick)="closePopover()"
  (attach)="
    popoverInput?.nativeElement?.focus(); popoverInput?.nativeElement?.select()
  "
>
  <div
    class="table-cell-popover"
    [shZ]="4"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
  >
    <form
      class="table-cell-form"
      [formGroup]="editFormGroup"
      (ngSubmit)="closePopover(true)"
    >
      <sh-form-field
        [field]="formField"
        [formGroup]="editFormGroup"
      ></sh-form-field>
      <div class="table-cell-popover-footer">
        <button mat-button (click)="closePopover()">Cancel</button>
        <button mat-flat-button color="primary" (click)="closePopover(true)">
          Save
        </button>
      </div>
    </form>
    <!-- <mat-form-field class="table-cell-input" appearance="outline">
      <input
        #popoverInput
        (keydown.enter)="closePopover(true)"
        matInput
        type="text"
        [formControl]="editFormControl"
        (keydown.escape)="closePopover()"
      />
    </mat-form-field> -->
  </div>
</ng-template>
