@use "@angular/material" as mat;

.sh-image-wrapper {
  border-radius: 100%;
  width: 40px;
  height: 40px;

  .table-cell-img {
    object-fit: cover;
  }
}

.table-cell-popover {
  @include mat.button-density(-2);

  background-color: var(--mat-sys-surface);
  border-radius: 8px;
  padding: 8px;

  .table-cell-popover-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.table-cell-popover-backdrop {
  background-color: transparent;
}
