.sh-image-wrapper {
  --img-overlay: rgba(255, 255, 255, 0.6);
  --img-overlay-2: rgba(0, 0, 0, 0.233);

  position: relative;
  overflow: hidden;
  .sh-img-overlay {
    display: flex;
    position: absolute;
    inset: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: var(--img-overlay);
  }
}

.img-preview-panel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-preview {
    img {
      width: 40vw;
    }

    .img-preview-actions {
      display: flex;
      align-items: center;
      gap: 4px;
      position: absolute;
      bottom: 2vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.img-preview {
  --img-bg-action: rgba(0, 0, 0, 0.2);
}
