<div *ngIf="isLoading" class="table-loading bg-foreground/10">
  <div class="table-loading-wrapper">
    <mat-spinner class="table-loading-spin" [diameter]="80"></mat-spinner>
  </div>
</div>

@if (hasPanel) {
  @if (selection.hasValue()) {
    <div
      [ngClass]="[
        'table-panel table-panel-selected',
        'p-4',
        'flex items-center gap-4 bg-primary/10',
      ]"
    >
      <div class="flex items-center gap-2">
        <button
          mat-icon-button
          (click)="clearSelect()"
          class="selected-clear-btn"
        >
          <mat-icon>close</mat-icon>
        </button>
        <p appTypography="body-lg">
          selected {{ selection.selected.length }} items
        </p>
      </div>
      <button mat-icon-button (click)="deleteSelected()">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  } @else {
    <div class="table-panel flex justify-between p-4">
      <div class="table-panel-filter">
        <ng-content select="[tablePanelFilter]"></ng-content>
      </div>
      <div class="table-panel-actions flex justify-end gap-2 items-center">
        <ng-content select="[tablePanelActions]"></ng-content>
        @if (hasColumnFilter) {
          <button
            mat-icon-button
            [cdkMenuTriggerFor]="menu"
            class="table-column-filter-btn"
            aria-label="Column filter"
          >
            <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
          </button>
        }
      </div>
    </div>
  }
  <mat-divider></mat-divider>
}

<div
  [ngClass]="[
    'table-wrapper',
    isFixedHeight ? 'table-height-fixed' : '',
    !!headerSticky ? 'table-header-sticky' : '',
  ]"
  [class.table-wrapper-loading]="isLoading"
  [ngStyle]="{
    'height.px': height,
    height: height,
    'max-height': maxHeight,
    'overflow-y': headerSticky ? 'auto' : '',
  }"
  #scrollDir="shScroll"
  shScroll
  (shScrollCurrent)="onScroll($event)"
  [style]="tableStyle"
  [shZ]="z"
>
  @if (isForm) {
    <form [formGroup]="formGroup">
      <ng-container [ngTemplateOutlet]="tableTpl"></ng-container>
    </form>
  } @else {
    <ng-container [ngTemplateOutlet]="tableTpl"></ng-container>
  }
  <ng-template #tableTpl>
    <table
      mat-table
      [dataSource]="dataSource"
      [ngClass]="{ 'disable-row': disableRow }"
      matSort
      (matSortChange)="sort($event)"
      [matSortActive]="sortData?.active || ''"
      [matSortDirection]="sortData?.direction || ''"
      [attr.formArrayName]="isForm ? 'rows' : null"
    >
      <!-- Checkbox Column -->
      <ng-container [matColumnDef]="selectName" sticky>
        <th mat-header-cell *matHeaderCellDef class="cell-select">
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          class="cell-select"
        >
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleRow(row[keyName]) : null"
            [checked]="selection.isSelected(row[keyName])"
            [aria-label]="checkboxLabel(row[keyName])"
            [disabled]="disabledIndexRows.includes(row[keyName])"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container
        *ngFor="let column of this.columnData(); let columnIndex = index"
      >
        <ng-container
          [matColumnDef]="column.name"
          [sticky]="!!column.sticky"
          [stickyEnd]="!!column.stickyEnd"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngStyle]="{
              'minWidth.px': column.width,
              'maxWidth.px': column.width,
            }"
          >
            {{ column.label }}
          </th>
          <td
            [ngClass]="['cell' + column.name]"
            mat-cell
            *matCellDef="let row; let rowIndex = index"
            [ngStyle]="{
              'minWidth.px': column.width,
              'maxWidth.px': column.width,
            }"
          >
            @if (column.type !== "custom") {
              <sh-table-cell
                [isForm]="isForm"
                [column]="column"
                [form]="formGroup"
                [rowIndex]="rowIndex"
                [row]="row"
                [customCells]="customCells"
                [rowDisabled]="disabledIndexRows.includes(rowIndex)"
              ></sh-table-cell>
            } @else {
              <ng-container
                *ngTemplateOutlet="
                  getTemplate(column.name);
                  context: {
                    item: row,
                    index: rowIndex,
                    value: row[column.name],
                    $implicit: row,
                  }
                "
              ></ng-container>
            }
          </td>

          <!-- <td mat-cell *matCellDef="let row; let index = index">
              {{ getFormControl(index, column.name).value }}
            </td> -->
        </ng-container>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: headerSticky"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let index = index"
        (click)="isDisabledRow(index) && onRowClick(row)"
        (dblclick)="isDisabledRow(index) && onRowDoubleClick(row)"
        [ngClass]="{
          'cursor-pointer': isDisabledRow(index),
          'table-row-disable': disabledIndexRows.includes(index),
        }"
        class="table-row"
      ></tr>
      <tr class="mat-row mat-row-nodata" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <sh-empty class="table-empty"></sh-empty>
        </td>
      </tr>
    </table>
  </ng-template>
</div>

<ng-container *ngIf="pagination">
  <mat-divider></mat-divider>
  <mat-paginator
    *ngIf="pagination"
    showFirstLastButtons
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onChangePage($event)"
    [pageSize]="pagination.pageSize"
    [pageIndex]="pagination.page - 1"
    [length]="pagination.total"
    class="pagination"
  ></mat-paginator>
</ng-container>

<ng-template #menu>
  <div class="table-column-filter-menu" [shZ]="2" cdkMenu>
    <p appTypography="label-lg" class="table-column-filter-menu-title">
      Column filter
    </p>

    <!-- <div class="table-column-filter-menu-control">
      <mat-checkbox
        (change)="toggleAllColumnFilter($event.checked)"
        [checked]="isAllFilterColumn"
        [indeterminate]="isIndeterminateFilterColumn"
        class="table-column-filter-menu-all"
        [aria-label]="'Check all filter column'"
      >
        All
      </mat-checkbox>
    </div> -->

    <ul class="table-column-filter-menu-list">
      @for (item of columns; track item.name) {
        <!-- Menu item kiểu checkbox của CDK -->
        @if (!item.lock) {
          <li>
            <mat-checkbox
              cdkMenuItemCheckbox
              class="table-column-filter-menu-item"
              (click)="$event.stopPropagation()"
              [checked]="isShownColumn(item.name)"
              [disabled]="item.lock"
              (change)="toggleColumnFilter(item.name)"
              [aria-label]="'filter-column-check' + item.name"
            >
              {{ item.label }}
            </mat-checkbox>
          </li>
        }
      }
    </ul>
  </div>
</ng-template>
