.form-field-array {
  .form-field-array-label {
    display: block;
    margin-bottom: 8px;
  }
  .form-field-array-item {
    .mat-grid-tile-content {
      display: flex;
      gap: 4px;
      .form-field-array-input {
        width: 100%;
      }
    }
  }
}

.upload-wrapper {
  .upload-previews {
    .sh-image-wrapper {
      width: 80px;
      height: 80px;
    }
  }
}
