<mat-drawer-container class="bg-transparent!" autosize>
  <mat-drawer
    #drawer
    [opened]="sidebarOpened()"
    class="sidebar"
    mode="side"
    [ngClass]="['p-4']"
  >
    <div class="flex flex-col pt-4">
      @for (wrapRoute of routes; track $index) {
        <div class="mt-4">
          <div>
            <p appTypography="title-md" class="mb-2">{{ wrapRoute.title }}</p>
          </div>
          <ul>
            @for (route of wrapRoute.children; track $index) {
              <a
                [href]="route.path"
                class="justify-start!"
                [ngClass]="[
                  'flex gap-4 items-center rounded-full',
                  'px-4 py-2',
                  'hover:bg-primary/10',
                  activeRoute() === route.path ? 'text-primary' : '',
                ]"
              >
                <mat-icon>{{ route.icon }}</mat-icon>
                <span>{{ route.title }}</span>
              </a>
            }
          </ul>
        </div>
      }
    </div>
  </mat-drawer>

  <header
    class="flex sticky top-0 items-center justify-between px-2 z-10 h-10"
    [ngClass]="[
      'mb-4 mx-4',
      'bg-[var(--mat-sys-background)] shadow-[var(--mat-sys-level1)]',
    ]"
  >
    <div class="flex items-center gap-4">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h3 appTypography="body-lg" extraClass="text-primary">Admin page</h3>
    </div>
  </header>
  <div class="container mx-auto px-4 pb-8">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
