<div class="container mx-auto lg:max-w-4xl xl:max-w-6xl pt-8">
  @if(jobsData().length) {
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
      <div
        class="sticky top-20 max-h-[calc(100vh - var(--spacing) * 16)] overflow-y-auto"
        [ngStyle]="{ 'max-height': 'calc(100vh - var(--spacing) * 28)' }"
      >
        @for (job of jobsData(); track $index; let index = $index) {
        <div
          class="p-2 job-card rounded-lg"
          [ngClass]="{ active: selectJob?._id === job._id }"
          (click)="onSelectJob(index)"
          matRipple
        >
          <h4 appTypography="body-lg">{{ job.title }}</h4>
          <p appTypography="body-sm">{{ job.type }} | {{ job.location }}</p>
        </div>
        }
      </div>
    </div>
    <div class="col-span-2">
      <app-job-card
        *ngIf="selectJob"
        [data]="selectJob"
        [disableEdit]="true"
      ></app-job-card>
    </div>
  </div>
  } @else {
  <p>no data</p>
  }
</div>
