<mat-card *ngIf="data" class="p-6 space-y-4">
  <h2 appTypography="headline-md">{{ data.title }}</h2>

  <small appTypography="body-sm">{{ data.location }} • {{ data.type }}</small>

  <p appTypography="body-md">{{ data.description }}</p>

  <div>
    <h3 appTypography="title-md" class="mb-2">Skills</h3>
    <mat-chip-set class="flex flex-wrap gap-2">
      <mat-chip *ngFor="let skill of data.skills">
        {{ skill }}
      </mat-chip>
    </mat-chip-set>
  </div>

  <div>
    <h3 appTypography="title-md" class="mb-2">Responsibility</h3>
    <ul class="list-disc list-inside space-y-1">
      <li *ngFor="let req of data.responsibility" appTypography="body-md">
        {{ req }}
      </li>
    </ul>
  </div>

  <div>
    <h3 appTypography="title-md" class="mb-2">Requirements</h3>
    <ul class="list-disc list-inside space-y-1">
      <li *ngFor="let req of data.requirement" appTypography="body-md">
        {{ req }}
      </li>
    </ul>
  </div>

  <div>
    <h3 appTypography="title-md" class="mb-2">Benefits</h3>
    <ul class="list-disc list-inside space-y-1">
      <li *ngFor="let benefit of data.benefit" appTypography="body-md">
        {{ benefit }}
      </li>
    </ul>
  </div>

  <small appTypography="body-sm">
    Created at: {{ data.createdAt | date : "mediumDate" }} • Updated at:
    {{ data.updatedAt | date : "mediumDate" }}
  </small>
</mat-card>
