.job-card {
  &.active {
    background-color: var(--mat-sys-surface-container-high);
  }

  &:not(.active) {
    &:hover {
      background-color: var(--mat-sys-surface-container-high);
      cursor: pointer;
    }
  }
}
