<div class="container mx-auto lg:max-w-4xl xl:max-w-6xl">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
      <div class="sticky top-20 max-h-[80vh] overflow-y-auto">
        @for (job of jobsData(); track $index; let index = $index) {
        <div
          class="p-2 job-card rounded-lg"
          [ngClass]="{ active: selectJob?.id === job.id }"
          (click)="onSelectJob(index)"
          matRipple
        >
          <h4 appTypography="h5">{{ job.title }}</h4>
          <p appTypography="small">{{ job.type }} | {{ job.location }}</p>
        </div>
        }
      </div>
    </div>
    <div class="col-span-2">
      <app-job-card
        *ngIf="selectJob"
        [data]="selectJob"
        [disableEdit]="true"
      ></app-job-card>
    </div>
  </div>
</div>
