<input
  #fileInput
  type="file"
  [id]="field.name"
  name="files"
  [multiple]="multiple"
  [accept]="accept"
  (change)="handleFileSelect($event)"
  hidden
  [attr.maxSize]="maxFileSize"
/>
<div class="upload-wrapper">
  <div class="flex items-center gap-4">
    <label [for]="field.name">{{ field.label }}</label>
    @switch (field.variant) {
      @default {
        <button type="button" mat-raised-button (click)="onUpload()">
          <mat-icon>upload</mat-icon>
          Upload
        </button>
      }
    }
  </div>

  <div class="upload-previews">
    @for (file of fileUrls(); track $index; let index = $index) {
      <sh-image
        [src]="file"
        [prefix]="false"
        [alt]="'form-field-upload-' + index"
        [imgClass]="'upload-previews-item'"
      ></sh-image>
    }
  </div>
</div>
