@if (isJsonForm) {
  <div class="mb-4">
    <p>
      <mat-slide-toggle [(ngModel)]="isJsonMode">JSON form</mat-slide-toggle>
    </p>
  </div>
}

<form
  *ngIf="formGroup"
  (ngSubmit)="submit()"
  [formGroup]="formGroup"
  class="w-full"
>
  <div [ngClass]="[isJsonMode ? '' : 'invisible h-0 w-0']">
    <sh-json-form
      [value]="valuesStringtify"
      (onValueChange)="onJsonFormChange($event)"
    ></sh-json-form>
  </div>
  <div [ngClass]="[!isJsonMode ? '' : 'invisible h-0 w-0 overflow-hidden']">
    @if (formOptions.isGrid) {
      <mat-grid-list cols="12" rowHeight="72px" gutterSize="16px" class="w-full h-auto">
        @for (field of fields; track $index) {
          <mat-grid-tile [colspan]="field.col || 12" [rowspan]="field.row || 1">
            <ng-container
              [ngTemplateOutlet]="fieldTpl"
              [ngTemplateOutletContext]="{ $implicit: field, field: field }"
            ></ng-container>
          </mat-grid-tile>
        }
      </mat-grid-list>
    } @else {
      <div class="flex flex-col gap-4 w-full">
        @for (field of fields; track $index) {
          <div class="w-full">
            <ng-container
              [ngTemplateOutlet]="fieldTpl"
              [ngTemplateOutletContext]="{ $implicit: field, field: field }"
            ></ng-container>
          </div>
        }
      </div>
    }
  </div>
  <ng-template #fieldTpl let-field>
    @if (field.isArray) {
      <div
        [formArrayName]="field.key"
        [appAttr]="fieldAttrs"
        class="form-field-array"
      >
        <label appTypography="body-lg" class="form-field-array">{{
          field.label
        }}</label>
        @if (getFormArray(field.key).controls.length > 0) {
          <mat-grid-list
            [cols]="field.arrayConfig?.cols ?? 1"
            [gutterSize]="field.arrayConfig?.gutter ?? 8"
            [rowHeight]="field.arrayConfig?.rowHeight ?? 'fit'"
          >
            @for (
              ctrl of getFormArray(field.key).controls;
              track $index;
              let i = $index
            ) {
              <mat-grid-tile
                [colspan]="field.arrayConfig?.col ?? 1"
                [rowspan]="field.arrayConfig?.row ?? 1"
              >
                <mat-card
                  appearance="outlined"
                  [formGroupName]="i"
                  class="min-h-fit w-full"
                >
                  <mat-card-header
                    class="flex justify-between items-center mb-2"
                  >
                    <p mat-card-title appTypography="label-md">
                      {{ field.config?.itemLabel ?? "Item" }} {{ i + 1 }}
                    </p>
                    <button
                      mat-icon-button
                      type="button"
                      (click)="removeArrayItem(field.key, i)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-card-header>
                  <mat-card-content>
                    <sh-form-field
                      [field]="field"
                      [formGroup]="formGroup"
                      [formOptions]="formOptions"
                    ></sh-form-field>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            }
          </mat-grid-list>
        }
      </div>
    } @else {
      <sh-form-field
        [field]="field"
        [formGroup]="formGroup"
        [formOptions]="formOptions"
      ></sh-form-field>
    }
  </ng-template>

  @if (!hideFooter) {
    <div class="form-footer flex justify-between">
      <div>
        <button mat-stroked-button type="reset" (click)="reset()">Reset</button>
      </div>
      <div>
        <button
          [disabled]="formGroup.invalid"
          mat-flat-button
          type="submit"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </div>
  }
</form>
