.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-field-wrapper {
  width: 100%;
}

.form-field-array {
  .form-field-array-label {
    margin-bottom: 4px;
  }
  .form-field-array-item {
    .mat-grid-tile-content {
      display: flex;
      gap: 4px;
      .form-field-array-input {
        width: 100%;
      }
    }
  }
  .form-field-array-add {
  }
}
