<form *ngIf="formGroup" [formGroup]="formGroup" class="w-full h-full">
  <mat-grid-list
    cols="12"
    rowHeight="fit"
    gutterSize="16px"
    class="w-full h-full"
  >
    @for (field of fields; track $index) {
    <mat-grid-tile
      [colspan]="field.col || 12"
      [rowspan]="field.row || 1"
      class="py-2"
    >
      @switch (field.type) { @case ('text') {
      <mat-form-field
        style="width: 100%"
        [appearance]="appearance"
        [appAttr]="fieldAttrs"
      >
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          [type]="field.type"
          [formControlName]="field.key"
        /> </mat-form-field
      >} @case ('number') {
      <mat-form-field
        style="width: 100%"
        [appearance]="appearance"
        [appAttr]="fieldAttrs"
      >
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [type]="field.type" [formControlName]="field.key" />
      </mat-form-field>
      } @case ('select') {
      <mat-form-field
        style="width: 100%"
        [appearance]="appearance"
        [appAttr]="fieldAttrs"
      >
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.key">
          <mat-option *ngFor="let opt of field.options" [value]="opt.value">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      } @case ('radio') {
      <div class="form-field" [appAttr]="fieldAttrs">
        <label>{{ field.label }}</label>
        <mat-radio-group [formControlName]="field.key">
          <mat-radio-button
            *ngFor="let opt of field.options"
            [value]="opt.value"
          >
            {{ opt.label }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      } @case ('checkbox') {
      <div class="form-field" [appAttr]="fieldAttrs">
        <mat-checkbox [formControlName]="field.key">
          {{ field.label }}
        </mat-checkbox>
      </div>
      } @case ('date') {
      <mat-form-field
        style="width: 100%"
        [appearance]="appearance"
        [appAttr]="fieldAttrs"
      >
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [formControlName]="field.key"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      } @case ('array') {
      <div
        [formArrayName]="field.key"
        [appAttr]="fieldAttrs"
        class="form-field"
      >
        <label>{{ field.label }}</label>
        @for ( ctrl of getFormArray(field.key).controls; track $index; let i =
        $index ) {
        <div [formGroupName]="i" class="min-h-fit">
          <app-form-wrapper
            [fields]="field.arrayFields || []"
            [formGroup]="getFormArrayGroup(field.key, i)"
          ></app-form-wrapper>
        </div>
        }
        <button mat-button (click)="addArrayItem(field)">+ Add</button>
      </div>
      } @default {
      <!-- Có thể thêm xử lý mặc định -->
      } }
    </mat-grid-tile>
    }
  </mat-grid-list>
</form>
