<mat-form-field
  [appearance]="formOptions.appearance ?? 'outline'"
  [appAttr]="formOptions.fieldAttrs ?? {}"
  class="w-full"
>
  <mat-label>Enter your password</mat-label>
  <input
    [formControlName]="field.name"
    matInput
    [type]="hide() ? 'password' : 'text'"
  />
  <button
    mat-icon-button
    matSuffix
    (click)="clickEvent($event)"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide()"
    type="button"
  >
    <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  @if (helpText.length > 0) {
    <mat-error>{{ helpText[0] }}</mat-error>
  }
</mat-form-field>
