<h2 mat-dialog-title>{{ data.title || "Job form" }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col py-4">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Job Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Job Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of jobTypes" [value]="type">{{
          type
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="4"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>

    <!-- Skills Input (Chips) -->
    <mat-form-field appearance="outline" required>
      <mat-label>Skills</mat-label>
      <mat-chip-grid #chipGrid aria-label="Skill selection">
        @for (skill of skills.value; track $index; let index = $index) {
        <mat-chip-row (removed)="removeSkill(index)">
          {{ getSkillTitleByKey(skill) }}
          <button matChipRemove [attr.aria-label]="'remove ' + skill.key">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        name="currentFruit"
        placeholder="Select skill..."
        #skillInput
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        formControlName="skillInput"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectSkill($event)"
      >
        @for (skill of filteredSkill(); track $index) {
        <mat-option [value]="skill.key">{{ skill.title }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- Requirements -->
    <div class="array-group mb-4" formArrayName="requirement">
      <h5 appTypography="h5" extraClass="mb-2">Requirements</h5>
      @for (req of requirement.controls; track $index; let index = $index) {
      <mat-form-field appearance="outline" class="w-full">
        <input matInput [formControlName]="index" placeholder="Enter..." />
        <button
          matSuffix
          mat-icon-button
          color="warn"
          (click)="removeFromArray(requirement, index)"
          type="button"
          aria-label="Clear requirement"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
      }
      <button mat-button (click)="addToArray(requirement, '')" type="button">
        Add Requirement
      </button>
    </div>

    <!-- Responsibility -->
    <div class="array-group mb-4" formArrayName="responsibility">
      <h5 appTypography="h5" extraClass="mb-2">Responsibility</h5>
      @for (req of responsibility.controls; track $index; let index = $index) {
      <mat-form-field appearance="outline" class="w-full">
        <input matInput [formControlName]="index" placeholder="Enter..." />
        <button
          matSuffix
          mat-icon-button
          color="warn"
          (click)="removeFromArray(responsibility, index)"
          type="button"
          aria-label="Clear responsibility"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
      }
      <button mat-button (click)="addToArray(responsibility, '')" type="button">
        Add responsibility
      </button>
    </div>

    <!-- Benefits -->
    <div class="array-group mb-4" formArrayName="benefit">
      <h5 appTypography="h5" extraClass="mb-2">Benefits</h5>
      @for (req of benefit.controls; track $index; let index = $index) {
      <mat-form-field appearance="outline" class="w-full">
        <input matInput [formControlName]="index" placeholder="Enter..." />
        <button
          matSuffix
          mat-icon-button
          color="warn"
          (click)="removeFromArray(benefit, index)"
          type="button"
          aria-label="Clear benefit"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
      }
      <button mat-button (click)="addToArray(benefit, '')" type="button">
        Add benefit
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button
    mat-flat-button
    [disabled]="form.invalid"
    cdkFocusInitial
    (click)="submit()"
  >
    Save
  </button>
</mat-dialog-actions>
