/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "sass:meta";

html,
body {
  height: 100%;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background);
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.form-field-density(-2);

mat-form-field {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      .mdc-notched-outline {
        .mat-mdc-notch-piece {
          &.mdc-notched-outline__notch {
            border-right: none;
          }
        }
      }
    }
  }
}
