<section class="overflow-y-auto rounded" [shZ]="2" tabindex="0">
  <sh-table
    [data]="dataSource"
    [columns]="_tbColumns"
    (onScrollBottom)="scrollBottom()"
    [maxHeight]="'calc(100vh - var(--header-height) - 180px)'"
    [headerSticky]="true"
    [formGroup]="form"
    [isSelect]="tbSelect"
    (changeSelect)="changeSelect($event)"
    [defaultSelects]="selects.selected"
    (rowClick)="rowClick($event)"
    [isLoading]="loading()"
    [pagination]="{
      page: filter()['page'],
      pageSize: filter()['pageSize'],
      total: data()['total'],
    }"
    (changePagination)="changePagination($event)"
    [hasPanel]="true"
    [hasColumnFilter]="true"
    (onDeleteSelected)="deleteSelected()"
  >
    <app-filters
      tablePanelFilter
      [filterInfors]="filterFields"
      (valueChanges)="filterChange($event)"
      [values]="queryParams"
    ></app-filters>

    <div tablePanelActions class="flex gap-2 items-center">
      @if (!!addUrl) {
        <a mat-flat-button [routerLink]="[addUrl]">
          <mat-icon>add</mat-icon>
          Create
        </a>
      } @else {
        <button mat-flat-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
          Create
        </button>
      }
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div></sh-table
  >
</section>
