<h2 mat-dialog-title>{{ data.title ? "Edit Member" : "Create Member" }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col gap-4 py-4">
    <!-- Name -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <!-- Nickname -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickname" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a birthday</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <!-- Roles with Chips -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Roles</mat-label>
      <mat-chip-grid #chipGrid aria-label="Roles">
        <mat-chip-row
          *ngFor="let role of roles.value; let i = index"
          (removed)="removeRole(i)"
        >
          {{ role }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        placeholder="Add role"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="autoRole"
        formControlName="roleInput"
      />
      <mat-autocomplete
        #autoRole="matAutocomplete"
        (optionSelected)="selectRole($event.option.value)"
      >
        <mat-option *ngFor="let role of filteredRoles()" [value]="role">{{
          role
        }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- hobbiess -->
    <div class="array-group mb-4" formArrayName="hobbies">
      <h5 appTypography="h5" extraClass="mb-2">Hobbies</h5>
      @for (req of hobbies.controls; track $index; let index = $index) {
      <mat-form-field appearance="outline" class="w-full">
        <input matInput [formControlName]="index" placeholder="Enter..." />
        <button
          matSuffix
          mat-icon-button
          color="warn"
          (click)="removeFromArray(hobbies, index)"
          type="button"
          aria-label="Clear hobbies"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>
      }
      <button mat-button (click)="addToArray(hobbies, '')" type="button">
        Add hobbies
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Team</mat-label>
      <mat-select formControlName="teamId">
        <mat-option>None</mat-option>
        @for (team of teamData(); track $index) {
        <mat-option [value]="team._id">{{ team.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div>
      <h5 appTypography="h5" extraClass="mb-2">Socials</h5>
      <div formArrayName="socials" class="flex flex-col">
        @for (social of socials.controls; track $index; let index = $index) {
        <div class="flex gap-2" [formGroupName]="index">
          <mat-form-field appearance="outline">
            <mat-label>Platform</mat-label>
            <mat-select formControlName="platform">
              <mat-option>None</mat-option>
              @for (role of teamRoleData; track $index) {
              <mat-option [value]="role">{{ role }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>URL</mat-label>
            <input matInput type="email" formControlName="url" required />
          </mat-form-field>
          <button mat-icon-button (click)="removeFromArray(socials, index)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
      <button mat-button (click)="addSocial()">Add social</button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="submit()"
  >
    Save
  </button>
</mat-dialog-actions>
