<sh-entity-manager
  entityName="team"
  [formFields]="teamMemberSrv.formFields"
  [postFormFields]="teamMemberSrv.formFields"
  [putFormFields]="teamMemberSrv.updateFormFields"
  [tbColumns]="tbColumns"
  [findEntities]="teamMemberSrv.find.bind(teamMemberSrv)"
  [putEntity]="teamMemberSrv.update.bind(teamMemberSrv)"
  [deleteEntity]="teamMemberSrv.delete.bind(teamMemberSrv)"
  [postEntity]="teamMemberSrv.createMember.bind(teamMemberSrv)"
  [tbActions]="['edit', 'delete']"
  [tbSelect]="true"
  [tbPagination]="true"
></sh-entity-manager>
